---
layout: page
refactor: true
---

{% include lang.html %}

<h1 data-toc-skip>{{ page.title }}</h1>

<div class="post-content">
  {{ content }}
</div>

{% if page.images %}
  <h2>{{ site.data.locales[lang].post.gallery }}</h2>
  <div class ="image-gallery">
    {% for image in page.images %}
      {% assign thumb = page.image_path | append: image.image | replace: '.jpg', '_t.jpg' %}
      {% assign thumb = thumb | replace: '.png', '_t.jpg' %}
      {% assign thumb = thumb | replace: '.jpeg', '_t.jpg' %}
      {% assign thumbnail = page.image_path | append: image.image %}
      {% for static_file in site.static_files %}
        {% if static_file.path == thumb %}
          {% assign thumbnail = thumb %}
        {% endif %}
      {% endfor %}
      <div class="box">
        <a href="{{ page.image_path }}{{ image.image }}">
          <img src="{{ thumbnail }}" alt="{{ image.title}}"  class="img-gallery" />
        </a>
      </div>
    {% endfor %}
  </div>
{% endif %}

{% if page.event %}
  {% for event in site.data.events %}
    {% for category in event.categories %}
      {% if category == page.event %}
        {% if events %}
        {% else %}
          {% assign events = "" | split: "," %}
        {% endif %}
        {% assign events = events | push: event %}
      {% endif %}
    {% endfor %}
  {% endfor %}
  {% if events %}
    <h2>{{ site.data.locales[lang].post.calendar }}</h2>
    {% for event in events %}
      <p>{{ event.date | date: "%d.%m.%Y" }} {{ event.name[lang] }}</p>
    {% endfor %}
  {% endif %}
{% endif %}