---
layout: page
---

<h1 data-toc-skip>{{ page.title }}</h1>

<div class="post-content">
  {{ content }}
</div>

<div class ="image-gallery">
  {% for image in page.images %}
      {% assign thumb = page.image_path | append: image.image | replace: '.jpg', '_t.jpg' %}
      {% assign thumb = thumb | replace: '.png', '_t.jpg' %}
      {% assign thumb = thumb | replace: '.jpeg', '_t.jpg' %}
      {% assign thumbnail = page.image_path | append: image.image %}
      {% for static_file in site.static_files %}
        {% if static_file.path == thumb %}
          {% assign thumbnail = thumb %}
        {% endif %}
      {% endfor %}
      <div class="box">
      <a href="{{ page.image_path }}{{ image.image }}">
        <img src="{{ thumbnail }}" alt="{{ image.title}}"  class="img-gallery" />
       </a>
      </div>
   {% endfor %}
  </div>