---
# Šablona pro generování seznamu akcí 
layout: page
---
{% assign lang = site.lang %}

<!-- Seznam typu akcí -->

<div id="akce" class="pl-xl-3">
  <ul class="list-unstyled">
    {% for page in site.events %}
      {% assign title = site.data.locales[lang].events[page.event] %}
      <li>
        <a href="{{ site.baseurl_root }}{{ page.url }}">{{ title }}</a>
      </li>
    {% endfor %}
  </ul>
</div>

<!-- Kalendář akcí -->

<h1>{{ site.data.locales[lang].post.calendar }}</h1>

<div id="kalendar" class="pl-xl-3">
  {% assign last_year = 0 %}
  {% assign events = site.data.events | reverse %}
  {% for event in events %}
    {% capture cur_year %}{{ event.date | date: "%Y" }}{% endcapture %}

<!-- Změna roku -->

    {% if cur_year != last_year %}
        {% unless last_year == 0 %}</ul>{% endunless %}
        <div class="year lead">{{ cur_year }}</div>
        <ul class="list-unstyled">
        {% assign last_year = cur_year %}
    {% endif %}
    
<!-- Přiřazení odkazu-->

    {% if event.url %}
      {% assign url = event.url %}
    {% elsif event.poster %}
      {% assign url = site.baseurl_root | append: "posters/"| append: event.poster %}
    {% elsif event.categories %}
      {% for page in site.events %}
        {% if page.event == event.categories[0] %}
          {% assign url = site.baseurl_root | append: page.url %}
        {% endif %}
      {% endfor %}        
    {% endif %}
    
<!-- Název akce a odkaz -->

    {% if url %}
      <li><a href="{{ url }}">{{ event.date | date: "%d.%m.%Y" }} - {{ event.name[lang] }}</a></li>
    {% else %}
      <li>{{ event.date | date: "%d.%m.%Y" }} - {{ event.name[lang] }}</li>
    {% endif %}
    {% if forloop.last %}</ul>{% endif %}
  {% endfor %}
  
</div>
