---
# The Archives of posts with a certain category.
layout: page
---

<div id="clanky" class="pl-xl-3">
{% assign posts = site.bohemia | reverse %}
{% assign volumes = '' | split: '' %}
<div class="year lead">Nezařazené články</div>
<ul class="list-unstyled">
{% for post in posts %}
    {% if post.volume %}
      {% if volumes contains post.volume %}
        {% continue %}
      {% else %}
        {% assign volumes = volumes | push: post.volume %}
      {% endif %}
    {% else %}
      {% assign title = post.title %}
      {% if post.author %}
        {% assign title = site.data.authors[post.author].name | append: ": " | append: title %}
      {% endif %}
      <li><a href="{{ site.baseurl_root }}{{ post.url }}">{{ title }}</a></li>
    {% endif %}
{% endfor %}
</ul>
{% assign volumes = volumes | sort | reverse %}

{% for volume in volumes %}
  <div class="year lead">Ročník {{ volume }}</div>
  <ul class="list-unstyled">
  {% for post in posts %}
    {% if post.volume == volume %}
    {% assign title = post.title %}
      {% if post.author %}
        {% assign title = site.data.authors[post.author].name | append: ": " | append: title %}
      {% endif %}
      <li><a href="{{ site.baseurl_root }}{{ post.url }}">{{ title }}</a></li>  
    {% endif %}
  {% endfor %}
  </ul>
{% endfor %}  
</div>