---
# Šablona pro článek časopisu Bohemia
# Články jsou uloženy ve složce "_bohemia" ve formátu ".md"
# V záhlaví článku uveďte:
#   title: [název článku]
#   layout: clanek
#   volume: [ročník (nepovinné)]
#   issue: [číslo (nepovinné)]
#   author nebo authors: [jméno autora nebo seznam autorů]
#   translated: [jméno překladatele]
layout: page
refactor: true
panel_includes:
  - toc
tail_includes:
  - post-nav
---

<!-- title -->
<h1 data-toc-skip>{{ page.title }}</h1>
<!-- cover page -->
{% assign imgurl = "/covers/" | append: page.volume | append: "_" | append: page.issue | append: ".jpg" %}
{% for static_file in site.static_files %}
  {% if static_file.path == imgurl %}
    <img src="{{ imgurl }}" alt="cover"/>
  {% endif %}
{% endfor %}

<div class="post-meta text-muted">
    <!-- issue, volume -->
    <span>
        {% if page.volume %}
            {{ site.data.locales[lang].post.volume }}
            <em>{{ page.volume }}</em>
        {% endif %}
        {% if page.issue %}
          {% unless page.issue == 0 %}
            {{ site.data.locales[lang].post.issue }}
            <em>{{ page.issue }}</em>
          {% endunless %}
        {% endif %}
    </span>

  <div class="d-flex justify-content-between">
    <!-- author(s) -->
    <span>
      {% if page.author %}
        {% assign authors = page.author %}
      {% elsif page.authors %}
        {% assign authors = page.authors %}
      {% endif %}

      {{ site.data.locales[lang].post.written_by }}

      <em>
      {% if authors %}
        {% for author in authors %}
          <a href="{{ site.url }}/lide.html#{{ author }}">{{ site.data.people[author].name }}</a>
          {% unless forloop.last %}</em>, <em>{% endunless %}
        {% endfor %}
      {% else %}
        <a href="{{ site.social.links[0] }}">{{ site.social.name }}</a>
      {% endif %}
      </em>
    </span>

    <div>
      <!-- read time -->
      {% include read-time.html content=content prompt=true lang=lang %}
    </div>

  </div> <!-- .d-flex -->

  {% if page.translated %}
    {{ site.data.locales[lang].post.translated_by }}
    <em>
      <a href="{{ site.data.people[page.translated].url }}">{{ site.data.people[page.translated].name }}</a>
    </em>
  {% endif %}

</div> <!-- .post-meta -->

<div class="post-content">
  {{ content }}
</div>

<div class="post-tail-wrapper text-muted">

  <!-- categories 
  {% if page.categories.size > 0 %}
  <div class="post-meta mb-3">
    <i class="far fa-folder-open fa-fw me-1"></i>
    {% for category in page.categories %}
      <a href='{{ site.baseurl }}/categories/{{ category | slugify | url_encode }}/'>{{ category }}</a>
      {%- unless forloop.last -%}, {%- endunless -%}
    {% endfor %}
  </div>
  {% endif %}-->

  <!-- tags 
  {% if page.tags.size > 0 %}
  <div class="post-tags">
    <i class="fa fa-tags fa-fw me-1"></i>
      {% for tag in page.tags %}
      <a href="{{ site.baseurl }}/tags/{{ tag | slugify | url_encode }}/"
          class="post-tag no-text-decoration" >
        {{- tag -}}
      </a>
      {% endfor %}
  </div>
  {% endif %}-->

  <div class="post-tail-bottom
    d-flex justify-content-between align-items-center mt-3 pt-5 pb-2">
    <div class="license-wrapper">

      {% if site.data.locales[lang].copyright.license.template %}

        {% capture _replacement %}
        <a href="{{ site.data.locales[lang].copyright.license.link }}">
          {{ site.data.locales[lang].copyright.license.name }}
        </a>
        {% endcapture %}

        {{ site.data.locales[lang].copyright.license.template | replace: ':LICENSE_NAME', _replacement }}

      {% endif %}
    </div>

    {% include post-sharing.html lang=lang %}

  </div><!-- .post-tail-bottom -->

</div><!-- div.post-tail-wrapper -->