---
# Šablona pro generování seznamu lidí
layout: page
refactor: true
---

{% for person in site.data.people %}
    <p><a name="{{ person[0] }}" href="{{ person[1].url }}">{{ person[1].name }}</a><br>
    <ul>

<!-- Členství ve vedení spolku -->

    {% assign p_start = 0 %}
    {% assign p_end = 0 %}
    {% for period in site.data.board %}
        {% if period.chair == person[0] or period.deputy == person[0] or period.finance == person[0] or period.members contains person[0]%}
            {% if p_end == 0 %}
                {% assign p_end = period.end_year %}
            {% endif %}  
            {% assign p_start = period.start_year %}
        {% else %}
            {% if p_start > 0 %}
                <li>Vedení spolku: {{ p_start }}-{{ p_end }}</li>
            {% endif %}
            {% assign p_start = 0 %}
            {% assign p_end = 0 %}
        {% endif %} 
    {% endfor %}
    {% if p_start > 0 %}
        <li>Vedení spolku: {{ p_start }}-{{ p_end }}</li>
    {% endif %}

<!-- Organizace akcí -->

    {% for event in site.data.events %}
        {% if event.organisers contains person[0] %}
            <li>{{ event.date | date: "%d.%m.%Y" }} - {{ event.name[site.lang] }}</li>
        {% endif %}
    {% endfor %}

<!-- Článek v časopisu Bohemia -->

    {% for post in site.bohemia %}
        {% if post.author == person[0] %}
            <li>Bohemia {{ post.volume }}/{{ post.issue }}: <a href="{{ site.baseurl_root }}{{ lang_url }}{{ post.url }}">{{ post.title }}</a></li>
        {% endif %}
        {% if post.translated == person[0] %}
            <li>Bohemia {{ post.volume }}/{{ post.issue }}: <a href="{{ site.baseurl_root }}{{ lang_url }}{{ post.url }}">{{ post.title }}</a> (překlad)</li>
        {% endif %}
    {% endfor %}
    </ul><hr>
{% endfor %}